body{
    font-family: 'Open Sans', sans-serif;
    background-color: white

.nav-item{
    font-size: 20px;

}
.navbar{
    background-color: black;
}

section {
    padding-top: 15px;
}

.clubs{
    padding: 50px;
}
.clubs .container{
    background: black;
    padding: 30px;    
}


.events .container{
    background-color: black;
    padding: 30px;
}

.page-footer .container{
    background-color: black;
    padding: auto;
}