body{
    font-family: 'Open Sans', sans-serif;
    background-color: slategrey;
}

.nav-link{
    font-size: 20px;
}
.navbar{
    background-color: black;
}

section {
    padding-top: 15px;
}

section .container{
    background: white;
    padding: 30px;    
}