
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}


.carousel-inner > .carousel-item {
    height: auto;
  }
  
  @media only screen and (min-width: 768px) {
    .carousel-inner > .carousel-item {
      height: 40em;
    }
  
    .carousel-inner > .carousel-item img {
      height:100vh;
      min-height:200px;
      background: no-repeat scroll center scroll;
      background-size: cover ;
      position: absolute;
      -webkit-background-size:cover;
      
      width: 100%;
    }
  }


.carousel-indicators li {
    background:orange;
    color:purple;
    height:auto;
    text-indent: 0;
    text-align:center;
    margin-right: 8px;
    margin-left: 8px;
    border: none;
  }


.nav-item{
    font-size: 18px;

}
.navbar{
    background-color: white;
}
.navbar-nav{
    color: black;
}

section {
    padding-top: 20px;
}

h2,h3,p,a{
    color: black;
}

.clubs .container{
    background: white;
    padding: 30px;  
}
.events .container{
    background-color: white;
    padding: 30px;
    border: 2px solid white;  
}

.text-1{
    color: black;
}
.card{
    background-color: white;
    
}


.page-footer .container .footer-copyright{
    background-color: white;
    padding: auto;
    color: black;
    padding-top: 15px;
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}