body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.carousel-item{
	height:100vh;
	min-height:300px;
	background: no-repeat scroll center scroll;
	-webkit-background-size:cover;
	background-size: cover ;
    position: relative;
}


.nav-item{
    font-size: 20px;

}
.navbar{
    background-color: white;
}

section {
    padding-top: 20px;
}

h2,h3,p,a{
    color: black;
}

.clubs .container{
    background: white;
    padding: 30px;  
}
.events .container{
    background-color: white;
    padding: 30px;
    border: 2px solid white;  
}

.text-1{
    color: black;
}
.card{
    background-color: white;
    
}

.col{
    border: 2px solid white;  
   
}

.page-footer .container .footer-copyright{
    background-color: white;
    padding: auto;
    color: black;
    padding-top: 15px;
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}